.drawer {
	position: fixed;
	background: #0e4380;
	top: 0;
	left: 0;
	padding-top: 6rem;
	padding-left: 2rem;
	width: 30rem;
	height: 100%;
	box-shadow: 2px 2px 50px rgb(14, 67, 128);
	h3 {
		a:link,
		a:visited {
			color: white;
			text-decoration: none;
		}
	}
}

.drawer-item {
	cursor: pointer;
	display: flex;
	align-items: center;
	padding: 2.5rem;
	h3 {
		font-size: 1.6rem;
	}

	&:hover {
		h3 {
			a {
				color: yellow;
			}
		}
	}
}

.selected {
	h3 {
		a {
			color: yellow;
		}
	}
}

@media screen and (max-width: 768px) {
	.library {
		width: 100%;
	}
}
