.latest-numbers {
	display: flex;
	flex-direction: column;
	justify-items: center;
	justify-content: space-around;
	align-items: center;
	box-shadow: 0rem 0rem 30rem 10rem rgba(11, 56, 99, 0.7) inset;
	width: 65rem;
	height: 60rem;
	border-radius: 1.5rem;
	h1 {
		font-size: 5rem;
	}
	h3 {
		font-size: 2.3rem;
	}
}
