.latest-numbers {
	display: flex;
	flex-direction: column;
	justify-items: center;
	justify-content: space-around;
	align-items: center;
	background: rgba(11, 56, 99, 1);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 65rem;
	height: 60rem;
	border-radius: 1.5rem;
	h1 {
		font-size: 5rem;
	}
	h3 {
		font-size: 2.3rem;
	}
}
