table {
	background: #fff;
	border-radius: 2rem;
	border-collapse: collapse;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.column1 {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.5rem;
}

th {
	height: 6rem;
	width: 33.3%;
	font-size: 1.8rem;
	font-weight: bolder;
}

td {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 500;
	border-top: 1px solid gray;
}
